<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" ng-init="getManufacturers()">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>Country</th>
                </tr>
                <tr ng-repeat="manufacturer in manufacturers">
                    <td>{{manufacturer.id}}</td>
                    <td>{{manufacturer.name}}</td>
                    <td>{{manufacturer.country}}</td>
                        <!--<button type="button" ng-click="deleteGoodFromOrder(good.id)" class="btn btn-danger">Видалити</button>-->


                </tr>
            </table>
            <a class="btn btn-default" href="#/admin/manufacturerAdd" role="button">Add</a>

        </div>
    </div>
</div>