<form name="userForm">
    Нікнейм<input type="text" class="form-control" ng-model="user.username">
    Ім'я<input type="text" class="form-control" ng-model="user.firstName">
    Прізвище<input type="text" class="form-control" ng-model="user.lastName">
    Пароль <input type="text" class="form-control" ng-model="user.password">


        <select ng-controller="TypesCtrl" ng-init="getTypes()" class="form-control" ng-model="typeId" >
            <option ng-repeat="type in types" ng-model="typeId">{{type.name}}</option>
        </select>
    </div>

    <!--<button type="button" class="btn btn-success" ng-click="registerUser(user)">Реєстарція</button>-->
</form>