<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Нікнейм</label>
                        <input type="text" class="form-control" placeholder="username" id="username" required
                               ng-model="user.username">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Пароль</label>
                        <input type="password" class="form-control" placeholder="password" id="password" required
                               ng-model="user.password">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default" ng-click="login(user)">Ввійти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>